:root {
  /* --main-color: #cecbda;
--second-main-color: #a38182; */
  --main-color: #023246;
  --second-main-color: #d3d4ce;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth !important;
}
body {
  background-color: var(--main-color);
  z-index: 10;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat" !important;
  letter-spacing: -1px !important;
  color: var(--second-main-color);
  font-weight: 600 !important;
}

p,
span {
  font-family: Roboto !important;
  color: var(--second-main-color) !important;
}
header {
  padding: 1vh 0vw;
  margin: 0;
  position: relative;
}
canvas {
  position: fixed;
  z-index: -1;
}
.main-container #Home {
  min-height: 90vh;
}
.main-container #AboutMe {
  min-height: 100lvh;
}
.main-container .hover-animation {
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(var(--rotateX, 0deg)) rotateY(var(--rotateY, 0deg));
  transition: transform 0.2s ease;
  cursor: pointer;
  z-index: 5 !important;
}

#Hamburger {
  display: none;
  border: none;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
}

/* Navbar styling */

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--second-main-color);
  border-radius: 15px;
  padding: 1vh 2vw;
  box-shadow: 0px 0px 10px 0px var(--main-color);
  position: fixed;
  left: 10%;
  right: 10%;
  z-index: 100;
}

/* Logo styling */
header > nav > div > img {
  width: 70px;
}

header > nav > .link {
  width: 60%;
}

header > nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > nav > div a {
  margin: 1vh 1vw;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

header > nav > div a:hover {
  color: var(--main-color);
}

header > nav > .link .contact-btn {
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #00000028;
  padding: 1vh 0.5vw;
}
header > nav > .link .contact-btn a {
  color: var(--second-main-color);
}
header > nav > .link .contact-btn i {
  font-size: 20px;
}

header > nav > .link .contact-btn a:hover {
  color: var(--second-main-color);
}
.main-container {
  z-index: 10;
  margin-top: 10vh;
}

.main-container #Home > .row > div {
  display: flex;
  align-items: center;
  height: 70vh;
}
.main-container #Home > .row > div h2 {
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--second-main-color);
}
.main-container #Home > .row > div h1 {
  font-size: 3rem;
  letter-spacing: -4px;
  font-weight: 700;
  color: var(--second-main-color);
}
.main-container #Home > .row > div h3 {
  font-size: 2rem;
  color: var(--second-main-color);
}
.main-container #Home > .row > div h3 > span {
  font-weight: 700;
}
.main-container #Home > .row > div p {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2vh;
  color: var(--second-main-color);
}
.main-container #Home > .row > div a {
  background-color: var(--second-main-color);
  color: var(--main-color);
  padding: 1vh 1vw;
  margin: 3vh 0vw;
  border-radius: 10px;
  font-weight: 700;
  transition: 0.5s;
}
.main-container #Home > .row > div a i {
  font-size: 1rem;
  margin: 0 10px;
}
.main-container #Home > .row > div a:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 10px 0px var(--second-main-color);
  scale: 1.1;
}
.main-container #Home > .row > .img {
  justify-content: end;
}
.main-container #Home > .row > div .My-image {
  border-radius: 50%;
  width: 55%;
  box-shadow: 0px 0px 30px 0px var(--second-main-color);
}
.main-container > #AboutMe {
  background-color: var(--second-main-color);
  padding: 10vh 0;
}
.main-container > #AboutMe > h2 {
  color: var(--main-color);
  font-size: 40px;
  margin: 3vh auto;
  font-weight: 600;
}
.main-container > #AboutMe .row {
  margin: 5vh auto;
  padding: 5vh;
}
.main-container > #AboutMe .row > div {
  display: flex;
  align-items: center;
}
.main-container > #AboutMe .row > div .AboutMe-img {
  height: 400px !important;
  width: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px var(--main-color);
}
.main-container > #AboutMe .row > div h3 {
  text-align: left;
  color: var(--main-color);
  font-weight: 700;
  font-size: 35px;
  letter-spacing: -2px;
  margin: 0;
}
.main-container > #AboutMe .row > div h6 {
  text-align: left;
  color: var(--main-color);
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 15px;
}
.main-container > #AboutMe .row > div p {
  color: var(--main-color) !important;
  text-align: left;
  font-size: 20px;
  margin: 2vh 0vw;
}
.main-container > #AboutMe .row > div a {
  background-color: var(--main-color);
  color: var(--second-main-color);
  padding: 1vh 1.5vw;
  border-radius: 10px;

  float: left;
  font-size: 15px;
}
.main-container > #AboutMe .row > div a i {
  font-size: 12px;
  margin: 0 5px;
}
.main-container > #Abilities {
  padding: 5vh 0vw;
  min-height: 100vh;
  
}

.main-container > #Abilities .row >h2 {
  margin: 3vh auto;
  font-size: 40px;
  margin: 3vh auto;
  font-weight: 600;
}
.main-container > #Abilities .row > div {
  width: 30%;
  margin: 2vh auto;
  /* border: 1px solid var(--second-main-color); */
  padding: 10px;
  text-align: center;
  padding: 0;
  border-radius: 20px;
  /* box-shadow: 0px 0px 10px 0px var(--second-main-color); */
  transition: 0.5s;
}
.main-container > #Abilities .row > div:hover {
  transition: 0.5s;
  background-color: var(--second-main-color);
  box-shadow: 0px 0px 10px 0px var(--main-color);
}
.main-container > #Abilities .row > div img {
  width: 30%;
}
.main-container > #Abilities .row > div H3 {
  font-size: 25px;
}
.main-container > #Abilities .cardflipbox {
  position: relative;
  background-color: var(--main-color);
}

.main-container > #Abilities .cardflipbox .cardflipinner {
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -webkit-backface-visibility: hidden;
  background-color: var(--main-color);
  border-radius: 15px;
}

.main-container > #Abilities .cardflipbox .innercontent {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(0.94);
  -moz-transform: translateY(-50%) translateZ(60px) scale(0.94);
  -o-transform: translateY(-50%) translateZ(60px) scale(0.94);
}

.main-container > #Abilities  .cardflipbox .cardback,
.main-container > #Abilities .cardflipbox .cardfront {
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  min-height: 340px;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -ms-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -moz-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.main-container > #Abilities .cardflipbox .cardfront {
  background-color: var(--main-color);
  box-shadow: 0px 0px 10px 0px var(--second-main-color);

  transform: rotateY(0);
  transform-style: preserve-3d;
  -ms-transform: rotateY(0);
  -webkit-transform: rotateY(0);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform: rotateY(0);
  -o-transform: rotateY(0);
}

.main-container > #Abilities .cardflipbox .cardback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-color);
  box-shadow: 0px 0px 20px 0px var(--second-main-color);
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.main-container > #Abilities    .cardflipbox:hover .cardfront {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}

.main-container > #Abilities .cardflipbox:hover .cardback {
  -ms-transform: rotateY(0);
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.main-container > #Abilities  .cardflipbox .cardflipinner .cardfront {
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), opacity 0.55s ease 0.25s;
  border: 1px solid var(--main-color);
  -webkit-backface-visibility: hidden;
  -ms-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), opacity 0.55s ease 0.25s;
  -webkit-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), opacity 0.55s ease 0.25s;
  -moz-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), opacity 0.55s ease 0.25s;
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), opacity 0.55s ease 0.25s;
}

.main-container > #Abilities .cardflipbox .cardflipinner .cardfront::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.4;
  border-radius: 15px;
  /* background-color: inherit; */
  backface-visibility: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.main-container > #Abilities .cardflipbox .innercontent h2 {
  color: var(--second-main-color);
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
}

.main-container > #Abilities .cardflipbox .innercontent p {
  color: var(--second-main-color);
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 10px;
}

.main-container > #Project {
  background-color: var(--second-main-color);
  padding: 10vh 0;
}
.main-container > #Project >h2{
  color: var(--main-color);
  font-size: 40px;
  margin: 3vh auto;
  font-weight: 600;
}

