:root {
    --main-bg: #e2eaf5;
    --color: #f8f9fa;
    --dark-bg:#212529;
  
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  * {
    box-sizing: border-box;
    background-color: var(--main-bg); 
  }
  
  a {
    text-decoration: none;
  }
  
  ul,li,a {
    list-style: none;
    background-color: var(--color) ;
    margin: 0;
  }
  .navber {
    border-radius: 10px;
    overflow: hidden;
   
    
  }
  .navber .logo img {
    width: 40%;
    height: 80px;
  }
  .navber li a{
    color: var(--dark-bg);
    font-weight: 600;
    padding: 1vh ;

  }
  .navber li a:hover{
    border-bottom: 2px solid var(--dark-bg);
    color: #EA552B;
    
  }
  .navber h4 a{
    background-color: var(--dark-bg);
  }
  